:root {
  --pico-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --pico-spacing: 1.5rem;
}

body {
  background-color: var(--pico-background-color);
}

.monospace {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.text-center {
  text-align: center;
}

.mt-24 {
  margin-top: 1.5rem;
}
